<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://kit.fontawesome.com/f31941a40a.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>URL Shortener</h1>
        {% if logged_in %}
            <a href="/logout">
                <button id="logout-btn">Logout</button>
            </a>
        {% endif %}
    </header>

    <div class="container">
        {% block body %}{% endblock %}
    </div>
</body>
</html>